langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
ipykernel
python-dotenv
pypdf
beautifulSoup4
arxiv
pymupdf
numpy
pandas
wikipedia
langchain-text-splitters
langchain-openai 
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
huggingface_hub
streamlit
duckduckgo-search 
langserve
